/* basics */
html, body, input, button, textarea {
	font-size: 18px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
	height: 100%;
}

body {
	background-color: #FF9969;
	color: #120B09;
	margin: 0px;
}

#wrap {
    max-width: 800px;
    margin: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, p {
	margin: 0px 0px;
	font-weight: normal;
}

.mb {
	margin-bottom: 10px;
}

.section {
	position: relative;
	margin: auto;
	padding: 20px;
}

.u {
	text-decoration: underline;
}

.section_header {
    position: relative;
	margin: auto;
    padding: 20px 20px 0px 20px;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

.links {
    padding-left: 5px;
    border-left: 3px solid;
}

/* end basics */

.contributor {
    height: 60px;
    line-height: 60px;
    background-color: #FFF;
    display: inline-block;
    padding: 5px;
}

.contributor img {
    height: 60px;
    float: left;
    margin-right: 10px;
}

.contributor a {
    display: inline-block;
    padding-right: 10px;
	text-decoration: underline;
}

.theme {
    background-color: #FFF;
    margin-bottom: 30px;
	font-size: 16px;
}

.theme img {
	width: 100%;
}

.theme_header {
    background-color: #120B09;
    color: #FFF;
    padding: 5px;
}

.theme_description {
    padding: 5px;
}

blockquote {
	margin: 0px 0px 0px 30px;
}

ul {
    margin: 0px;
    list-style-type: disc;
}
