doctype html
html(lang="en")
    head
        include ../../_includes/head.jade
    body
        #wrap
            .section
                h1.mb
                    a(href="/") #{title}
                p !{description}
            .section
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-7504929339411519', data-ad-slot='3184357781', data-ad-format='auto')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
            .section
                h3.mb Theme Three Code - <a href="preview.html">Preview</a>
                script(src="https://gist.github.com/zaaach/12b687cac02dff33a65d.js")
