doctype html
html(lang="en")
    head
        include _includes/head.jade
    body
        #wrap
            .section
                h1.mb 
                    a(href="/") #{title}
                p.mb !{description}
                   include _includes/links.jade
            .section
                h3 Sorry, the page you were looking for could not be found!
