doctype html
html(lang="en")
    head
        include _includes/head.jade
    body
        #wrap
            .section
                h1.mb #{title}
                p.mb !{description}
                   include _includes/links.jade
